:root {
  --ui-color: rgb(111, 237, 0);
  --ui-border: rgb(16, 43, 7);
  --ui-border-size: 32px;
  --ui-border-radius: 16px;
  --ui-width: 800px;
  --ui-height: 600px;
  --ui-width-mobile: 100vw;
  /* 800px; */
  --ui-height-mobile: 100vh;
  /* 600px; */
}

body {
  margin: 2rem 0;
  padding: 0;
  background: radial-gradient(circle, rgba(16, 17, 27, 1) 0%, rgba(8, 6, 14, 1) 42%, rgba(0, 0, 0, 1) 100%);
}

#ascii-container {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  white-space: pre;
  margin-bottom: 2rem;
  color: var(--ui-color);
  text-shadow: 0 0 10px #ffffffa2, 0 0 20px #ffffff97, 0 0 30px #43eb00, 0 0 40px #48d80fbe, 0 0 50px #3e9f17a7, 0 0 60px #38b009b4, 0 0 70px #d7e9d034;
  /* Puedes ajustar el color de la letra */
  background-color: transparent;
  /* Puedes ajustar el color de fondo */
}

#hud {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  top: 1rem;
  left: 1rem;
  width: var(--ui-width);
  height: 6rem;
  margin: 0 auto;
  pointer-events: none;
  z-index: 100;
  color: var(--ui-color);
  background: rgba(0, 0, 0, 0.5);
  border-top: var(--ui-border-size) solid var(--ui-border);
  border-right: var(--ui-border-size) solid var(--ui-border);
  border-bottom: 0 solid var(--ui-border);
  border-left: var(--ui-border-size) solid var(--ui-border);
  border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
}

#hud-fuel {
  height: 2rem;
  display: flex;
  align-self: center;
  width: 100%;
  max-width: calc(var(--ui-width) + var(--ui-border-size) * 2);
  margin: 0 var(--ui-border-size);
  /* Change the progress bar color here */
  border: 8px calc(var(--ui-border-size) / 2) solid var(--ui-border);
  border-radius: 0;
  overflow: hidden;
}

progress::-moz-progress-bar {
  background: var(--ui-border);
}

progress::-webkit-progress-value {
  background: var(--ui-border);
}

progress {
  color: var(--ui-border);
  background-color: var(--ui-border);
}

/* Media query para pantallas de más de 475px de ancho */
@media screen and (min-width: 476px) {
  #hud-fuel {
    height: 2rem;
    display: flex;
    align-self: center;
    width: 100%;
    max-width: calc(var(--ui-width) + var(--ui-border-size) * 2);
    margin: 0 auto;
    background-color: red;
    /* Change the progress bar color here */
    border: 1rem calc(var(--ui-border-size) / 2) solid var(--ui-border);
    border-radius: 0;
    overflow: hidden;
  }
}

.hud-fuel__empty {
  background-color: red;
}

.display-wrapper {
  margin: 0 auto;
  width: calc(var(--ui-width) + var(--ui-border-size) + var(--ui-border-size));
  border-radius: var(--ui-border-radius);
  border-style: solid;
  /* border-image:
    linear-gradient(to bottom,
      #43eb00,
      rgba(0, 0, 0, 0)) 1 100%; */
  box-shadow: 0 0 10px #ffffffbb, 0 0 20px #ffffff67, 0 0 30px #43eb0078, 0 0 40px #48d80f5b, 0 0 50px #3e9f17a7, 0 0 60px #297e0783, 0 0 70px #d7e9d034;
  transition: 300ms ease-in-out;
}

.display-wrapper-red {
  transition: 300ms ease-in-out;
  box-shadow: 0 0 10px #ffffffbb, 0 0 20px #ffffff67, 0 0 30px #43eb0078, 0 0 40px #48d80f5b, 0 0 50px #3e9f17a7, 0 0 60px #297e0783, 0 0 70px #d7e9d034;
}

#gameCanvas {
  margin: 0 auto;
  display: block;
  width: var(--ui-width-mobile);
  height: var(--ui-height-mobile);
  border: var(--ui-border-size) solid var(--ui-border);
  border-top: 0 solid var(--ui-border);
  border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
  overflow: hidden;
  background: radial-gradient(circle, rgb(9, 10, 16) 0%, rgba(8, 6, 14, 1) 42%, rgba(0, 0, 0, 1) 100%);
}

@media screen and (min-width: 476px) {
  #gameCanvas {
    margin: 0 auto;
    display: block;
    width: var(--ui-width);
    height: var(--ui-height);
    border: var(--ui-border-size) solid var(--ui-border);
    border-top: 0 solid var(--ui-border);
    border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
    overflow: hidden;
  }
}

.land-success {
  color: green;
}

.land-fail {
  color: red;
}